{{define "content"}}

    <div class="jumbotron">
      <div class="container">
	<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5">
	  <a href="http://nogiushi.com/">
	    <img class="img-responsive img-rounded" src="/{{.Version}}/images/brain-gears.svg" alt="brain gears" />
	  </a>
	</div>
	<div class="col-lg-10 col-md-8 col-sm-8 col-xs-7">
          <h1>Nogiushi</h1>
          <p>
	    We're passionate about improving the world a little bit, starting with your home.
	  </p>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="col-lg-6 col-xs-12">
	<div class="media">
	  <a class="pull-left" href="https://medium.com/happy-home">
	    <img class="media-object" style="width: 90px" src="/{{.Version}}/images/community.svg" alt="happy home">
	  </a>
	  <div class="media-body">
	    <h2 class="media-heading">Community</h2>
	    <p>
	      We value collaboration and open
	      source, both hardware and software. We have started
	      using and producing open source to allow people to
	      customize, deepen, and better their relationship with
	      their home environment.
	    </p>
	    <p>
	      We invite others that share this passion to post their
	      stories and ideas to
	      the <a href="https://medium.com/happy-home">Happy
	      Home</a> Collection on creating a better and happier
	      relationship with your home through open source hardware
	      and software.
	    </p>
	  </div>
	</div>
      </div>
      <div class="col-lg-6 col-xs-12">
	<div class="media">
	  <a class="pull-left" href="/marvin/">
	    <img class="media-object" style="width: 90px" src="/{{.Version}}/images/robot.svg" alt="Marvin">
	  </a>
	  <div class="media-body">
	    <h2 class="media-heading">Marvin</h2>
	    <p>Marvin is a character for your home that enhances your life, is <strong>open</strong>, and lives in your home to serve as your home's brain – as you see fit.</p>
	  </div>
	</div>
      </div>
    </div>

{{end}}
