{{define "content"}}


      <div class="container top">
	<div class="media">
	  <a class="pull-left" href="https://github.com/nogiushi/marvin">
	    <img class="media-object" style="background-color: #fff; width: 90px" src="/images/robot.svg" alt="...">
	  </a>
	  <div class="media-body">
	    <h2 class="media-heading">Marvin</h2>
	    <p>Marvin is a character for your home that enhances your life, is <strong>open</strong>, and lives in your home to serve as your home's brain – as you see fit.</p>
	  </div>
	</div>
      </div>


{{end}}
