{{define "html"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="/images/brain-gears-hi.png" />
    <meta property="og:title" content="Nogiushi" />
    <meta property="og:description" content="We're passionate about improving the world a little bit, starting with your home." />
    <title>Nogiushi</title>
    <link href="/css/nogiushi.min.css" rel="stylesheet">
    <link href="/images/brain-gears-hi-with-padding.png" rel="icon" type="image/png">
    <link href="/images/brain-gears-hi-with-padding.png" rel="apple-touch-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Nogiushi</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/marvin/">Marvin</a></li>
            <li><a href="mailto:info@nogiushi.com">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {{if .}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}

    <footer>
      <div class="container">
	<ul class="list-inline see-also">
	  <li>
	    <a href="https://medium.com/@nogiushi">
	      <img src="/images/medium.png" class="img-rounded" alt="nogiushi @medium" />
	    </a>
	  </li>
	  <li>
	    <a href="https://github.com/nogiushi">
	      <img src="/images/gh.jpg" class="img-rounded" alt="nogiushi @github"/>
	    </a>
	  </li>
	  <li>
	    <a href="https://facebook.com/nogiushi">
	      <img src="/images/FB-f-Logo__blue_512.png" class="img-rounded" alt="nogiushi @facebook"/>
	    </a>
	  </li>
	  <li>
	    <a href="https://twitter.com/nogiushi">
	      <img src="/images/twitter-bird-light-bgs.png" class="img-rounded" alt="nogiushi @twitter"/>
	    </a>
	  </li>
	  <li>
	    <a href="https://flipboard.com/section/marvin-bRwcpK">
	      <img src="/images/flipboard.png" class="img-rounded" alt="marvin @flipboard"/>
	    </a>
	  </li>
	</ul>
	<p>&copy; Nogiushi 2014</p>
      </div>
    </footer>

    <script src="/js/nogiushi.js"></script>
    <script>
(function($) {
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        $('a').tooltip()
    }
    $(initPage);

})(jQuery)
    </script>

  </body>
</html>
{{end}}
